h1{
  margin-top: 0;
}
body{
  margin: 0;
}

.top-container{
  background-color: #eaffd0;
}

.middle-container{
  background-color: red;
  height: 200px;
  width: 200px;
}

.bottom-container{
  background-color: blue;
  height: 200px;
  width: 200px;
}
